/* Color Definitions */

:root {
    --background-color: #f2f0f0;
    --emphasize-color: #c5d0e3;
    --shadow-color: #888889;
    --button-color: #5792d9;
    --active-color: #57d5d9;
    --font-color: #112d4e;
}

.dark-theme {
    --background-color: #222831;
    --emphasize-color: #57626c;
    --shadow-color: #151515;
    --button-color: #00adb5;
    --active-color: #006db5;
    --font-color: #eee;
}

/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 110%;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    color: var(--background-color);
    background-color: var(--font-color);
    width: 100%;
}

.page-intro {
    text-align: center;
}

.page-intro > h1 {
    margin-bottom: 0.5rem;
}

.page-intro > p {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 0;
}

.btn {
    background-color: var(--button-color);
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border: 0;
    box-shadow: 0.2rem 0.3rem 0.5rem var(--shadow-color);
    padding: 0.3rem;
}

.btn:hover,
.btn-active {
    background-color: var(--active-color);
}

.bold {
    font-weight: bold;
}

#notes-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Sorting and Filtering */

.app-btns {
    display: flex;
    margin: 1.5rem;
}

.sort-filter-buttons .btn:nth-child(2),
.sort-filter-buttons .btn:nth-child(3),
.form__buttons .btn:last-child {
    margin-left: 1rem;
}

.header-buttons > select,
.filter-buttons {
    margin-left: auto;
}

.sort-asc::after {
    content: "  \21E7";
}

.sort-desc::after {
    content: "  \21E9";
}

#filter-finished::before {
    content: "\2610  ";
}

#filter-finished.show-actual::before {
    content: "\2611  ";
}

#filter-finished.show-opposite::before {
    content: "\2612  ";
}

/* Note */

.note {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    font-size: 0.85rem;
    padding: 0.5rem;
    box-shadow: 0.2rem 0.3rem 0.5rem var(--shadow-color);
    margin-bottom: 1rem;
}

.note:nth-child(odd) {
    background-color: var(--emphasize-color);
}

.note button {
    font-size: inherit;
}

.note__finish-created > div {
    display: flex;
    align-items: center;
}

.note__finish-created > p {
    font-size: 0.8em;
    font-style: italic;
}

.note__title-importance {
    display: flex;
}

.note__title-importance > div:last-child {
    margin-left: auto;
}

.note__title-importance > div:last-child p {
    font-size: 1.5em;
    margin-block-start: 0.35em;
    margin-block-end: 0.35em;
}

.note__manipulate {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.note__manipulate .btn {
    padding: 1em;
}

#delete-note {
    font-size: 0.8em;
}

#delete-note:hover {
    background-color: #f53c32;
}

.note__description textarea {
    width: 100%;
    height: 90%;
    background-color: inherit;
    resize: none;
}

/* Edit Form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.form-div {
    display: flex;
    width: 60%;
    margin-bottom: 1.5rem;
}

.form-div label {
    width: 35%;
}

.form-div .form-input {
    width: 65%;
}

.form__description {
    height: 8rem;
}

.form__importance > label {
    margin-top: 0.35rem;
}

.form__buttons {
    justify-content: flex-end;
}

/* Rating */

#importance {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#importance > input {
    visibility: hidden;
}

#importance > label {
    width: 2rem;
    cursor: pointer;
    color: var(--font-color);
}

#importance > label:not(:checked)::before {
    content: "\2606";
    font-size: 1.3em;
}

#importance > input:checked ~ label::before {
    content: "\2605";
    font-size: 1.3em;
}
